<h1>Arbeits- und Ruhezeitverordnung</h1>
<form [formGroup]="formGroup">
	<fieldset>
		<legend>Allgemein</legend>
		<div class="ob-flex">
			<mat-label>Anzahl kontrollierte Arbeitstage</mat-label>
			<input id="workingDaysInspected" type="number" formControlName="workingDaysInspected" class="ob-grow-6" />
		</div>
	</fieldset>
	<fieldset *ngFor="let inspectionPointGroup of structure">
		<legend>{{ inspectionPointGroup.i18nKey | translate }}</legend>
		<ng-container *ngFor="let inspectionPoint of inspectionPointGroup.inspectionPoints">
			<app-infringement-without-obv [inspectionPoint]="inspectionPoint"></app-infringement-without-obv>
		</ng-container>
	</fieldset>
</form>
<pre style="margin-top: 50px; border: 1px solid red; width: fit-content">
    {{ formGroup.value | json }}
</pre>
